{% extends "base.html" %}

{% from "wtforms.html" import render_field %}  <!-- Isso ajudará na renderização dos campos -->

{% block content %}
            <div class="container-fluid px-4">
                <ol class="breadcrumb mb-3">
                    <li class="breadcrumb-item active">{% if projeto %}Editar Projeto{% else %}Adicionar Projeto{% endif %}</li>
                </ol>
                <div id="loading-overlay">
                    <div class="spinner"></div>
                    <div class="loading-message">
                        Gerando Relatório de Ameaças...
                    </div>
                </div>            
            </div>
            <div class="container mt-1 mb-3">
                <form method="POST"> <!-- Geralmente, o método é POST para formulários Flask-WTF, mas ajuste conforme necessário -->
                    {{ form.hidden_tag() }} <!-- Gera um campo CSRF token para proteção contra ataques CSRF -->
                    {% if projeto %}
                    <input type="hidden" name="projeto_id" id="projeto_id" value="{{ projeto.id }}">
                    {% endif %}
                    <div class="row mb-3">
                        <div class="col">
                            {{ render_field(form.nome) }}
                        </div>
                        <div class="col">
                            {{ render_field(form.arquiteto) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            {{ render_field(form.descricao) }}
                        </div>
                        <div class="col">
                            {{ render_field(form.debitos_tecnicos) }}
                        </div>
                    </div>
            
                    <div class="row mb-3">
                        <div class="col">
                            {{ render_field(form.componentes_multi, class="selectpicker", multiple="multiple", render_label=false ,title="Selecione os componentes", **{'data-selected-text-format': 'count'}) }}
                        </div>
                        <div class="col">
                            {{ render_field(form.tecnologias_multi, class="selectpicker", multiple="multiple" ,render_label=false ,title="Selecione as tecnologias",**{'data-selected-text-format': 'count'}) }}
                        </div>
                        <div class="col">
                            {{ render_field(form.arquitetura_cloud_multi, class="selectpicker", multiple="multiple", render_label=false ,title="Selecione a Arquitetura", **{'data-selected-text-format': 'count'}) }}
                        </div>
                    </div>
                    
            
                    <div class="row mb-3">
                        <div class="col">
                            {{ render_field(form.status_projeto, class="selectpicker", render_label=false, title="Selecione a fase envolvimento") }}
                        </div>    
                        <div class="col">

                        </div>
                        <div class="col text-center">
                            <label for="{{ form.compliance_projeto.id_for_label }}" class="form-label" style="margin-bottom: -0.3rem;">{{ form.compliance_projeto.label }}</label>
                            <div class="d-flex justify-content-center">
                                <div class="form-switch">
                                    <input type="checkbox" name="compliance_projeto" id="compliance_projeto" class="form-check-input" {% if form.compliance_projeto.data %}checked{% endif %}>
                                </div>
                            </div>

                        <!-- Se você tiver mais campos, você pode adicioná-los nesta linha ou criar uma nova linha -->
                    </div>
                </div>
            </div>
                    <div class="container-fluid px-4">
                        <ol class="breadcrumb mb-3">
                            <li class="breadcrumb-item active">Requisitos de Cybersecurity</li>
                        </ol>
                    </div>
                    <div class="container mt-3">

                        <!-- Abas (tabs) -->
                        <ul class="nav nav-tabs" id="cybersecurityTabs" role="tablist">
                            {% for category in categories %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link {{ 'active' if loop.first }}" 
                                id="category-{{ category.id }}-tab" 
                                data-bs-toggle="pill" 
                                href="#category-{{ category.id }}" 
                                role="tab" 
                                aria-controls="category-{{ category.id }}" 
                                aria-selected="{{ 'true' if loop.first else 'false' }}">
                                {{ category.category_name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>

                        <!-- Conteúdo das abas -->
                            <div class="tab-content" id="cybersecurityTabsContent">
                                {% for category in categories %}
                                <div class="tab-pane fade {{ 'show active' if loop.first }}" 
                                    id="category-{{ category.id }}" 
                                    role="tabpanel" 
                                    aria-labelledby="category-{{ category.id }}-tab">
                                    <div class="row mb-6">
                                        <div class="col mb-3">
                                            {% for requirement in category.requirements %}
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" 
                                                type="checkbox" 
                                                id="requirement-{{ requirement.id }}" 
                                                name="requirement-{{ requirement.id }}" 
                                                {% if request.path == '/adicionar_projeto' or (request.path.startswith('/editar_projeto/') and requirement.id in attained_requirement_ids) %}checked{% endif %}>
                                         
                                                <label class="form-check-label" 
                                                    for="requirement-{{ requirement.id }}">
                                                    {{ requirement.requirement_name }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>



                            <div class="container-fluid px-4 mb-5">
                                {{ form.submit(class="btn btn-primary btn-lg") }}
                                {% if projeto %}
                                <button type="button" id="gerar-relatorio" class="btn btn-secondary btn-lg ms-1">
                                    Modelagem
                                </button>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    {{ render_field(form.modelagem_ameacas, readonly='readonly', style="height: 400px;,") }}
                                </div>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                    {% endblock %}
